@{
    ViewData["Title"] = "Home Page";
}

<div class="text-center">
        <h1 class="text-center">Camperstalling Bentelo</h1>
        <div class="container">
            <section class="photo-gallery">
                <div class="container">
                    <div class="intro">
                        <h2 class="text-center">Welkom op onze nieuwe website!</h2>
                        <p class="text-center">Welkom op de gloednieuwe website van Camperstalling Bentelo!</p>
                    </div>
                    <div class="row photos" data-bss-baguettebox>
                        <div class="col-sm-6 col-md-4 col-lg-3 item"><a href="desk.jpg"><img class="img-fluid" src="desk.jpg" /></a></div>
                        <div class="col-sm-6 col-md-4 col-lg-3 item"><a href="building.jpg"><img class="img-fluid" src="building.jpg" /></a></div>
                        <div class="col-sm-6 col-md-4 col-lg-3 item"><a href="loft.jpg"><img class="img-fluid" src="loft.jpg" /></a></div>
                        <div class="col-sm-6 col-md-4 col-lg-3 item"><a href="building.jpg"><img class="img-fluid" src="building.jpg" /></a></div>
                        <div class="col-sm-6 col-md-4 col-lg-3 item"><a href="loft.jpg"><img class="img-fluid" src="loft.jpg" /></a></div>
                        <div class="col-sm-6 col-md-4 col-lg-3 item"><a href="desk.jpg"><img class="img-fluid" src="desk.jpg" /></a></div>
                    </div>
                </div>
            </section>
        </div>
        <div class="simple-slider">
            <div class="swiper-container">
                <div class="swiper-wrapper">
                    <div class="swiper-slide" style="background: url('camper1.jpg') center center /  no-repeat;"></div>
                    <div class="swiper-slide" style="background: url('camper2.jpg') center center /  no-repeat;"></div>
                    <div class="swiper-slide" style="background: url('camper3.jpg') center center /  no-repeat;"></div>
                </div>
                <div class="swiper-pagination"></div>
                <div class="swiper-button-prev"></div>
                <div class="swiper-button-next"></div>
            </div>
        </div>
    </body>
</div>
